[submodule "src/redhawk_ctl"]
	path = src/redhawk_ctl
	url = https://github.com/nadyabalabanska/redhawk_ctl.git
[submodule "src/redhawk_moveit"]
	path = src/redhawk_moveit
	url = https://github.com/nadyabalabanska/redhawk_moveit.git
[submodule "src/redhawk_moveit_config"]
	path = src/redhawk_moveit_config
	url = https://github.com/nadyabalabanska/redhawk_moveit_config.git
[submodule "src/arm_pathplanning"]
	path = src/arm_pathplanning
	url = https://github.com/nadyabalabanska/arm_pathplanning.git
